aarch64_be_tools/** filter=lfs diff=lfs merge=lfs -text
aarch64_tools/** filter=lfs diff=lfs merge=lfs -text
arm_tools/** filter=lfs diff=lfs merge=lfs -text
armeb_tools/** filter=lfs diff=lfs merge=lfs -text
i586_tools/** filter=lfs diff=lfs merge=lfs -text
mips1_tools/** filter=lfs diff=lfs merge=lfs -text
mips1el_tools/** filter=lfs diff=lfs merge=lfs -text
mips64_tools/** filter=lfs diff=lfs merge=lfs -text
mips64el_tools/** filter=lfs diff=lfs merge=lfs -text
mips64r6_tools/** filter=lfs diff=lfs merge=lfs -text
mips64r6el_tools/** filter=lfs diff=lfs merge=lfs -text
mips_tools/** filter=lfs diff=lfs merge=lfs -text
mipsel_tools/** filter=lfs diff=lfs merge=lfs -text
mipsr6_tools/** filter=lfs diff=lfs merge=lfs -text
mipsr6el_tools/** filter=lfs diff=lfs merge=lfs -text
powerpc64_tools/** filter=lfs diff=lfs merge=lfs -text
powerpc64le_tools/** filter=lfs diff=lfs merge=lfs -text
powerpc_tools/** filter=lfs diff=lfs merge=lfs -text
riscv64_tools/** filter=lfs diff=lfs merge=lfs -text
x86_64_tools/** filter=lfs diff=lfs merge=lfs -text
